/* import Google Font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *::before, *::after {
  font-family: 'Lato', sans-serif;
}


/* apply css reset */

*, * ::before, * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body { /* typographic tweaks */
  -webkit-font-smoothing: antialiased; 
}

img { /* improve media defaults */
  display: block;
  max-width: 100%;
}

/* start CSS here */

.container {
  background-color: #F5F8FA;
  /* height: 100vh; */
  /* padding: 0 40px; */
  padding: 0 40px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  border-bottom: 2px solid #E0E6EA;
  align-self: stretch;
}

.menu {
  display: flex;
  gap: 42px;
  list-style-type: none;
  align-items: center;
}

.menu li {
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: -.01px;
}

li a {
  color: #1D2C3C;
  text-decoration: none;
}

li.menu-item:last-child {
  padding: 10px 20px;
  border: 3px solid #646E7A;
  border-radius: 6px;
}

.row {
  margin-block: 85px 35px;
  width: 912px;
  /* min-height: 600px; */
  /* padding: 40px 48px 45px; */
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 15px 35px 0 rgba(43, 64, 78, 0.095), 0 5px 15px 0 rgba(0, 0, 0, 0.049);
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.col-1 {
  /* padding: 40px 48px 45px; */
  display: flex;
  flex-direction: column;
}

.col-2 {
  padding: 40px 63px 45px 45px;
  background-color: #1179BF;
  color: #fff;
}

.col-1-row-1 {
  padding: 40px 45px 45px;
  border-bottom: 2px solid #F5F7FA;
}

.col-1-row-2,
.col-1-row-3 {
  padding: 35px 45px 40px 45px;
  border-bottom: 2px solid #F5F7FA;
}

.col-1-row-4 {
  padding: 35px 45px 50px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.col-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  padding-bottom: 9px;
}

.number,
.icon {
  width: 30px;
  height: 30px;
  /* padding: 7px; */
  border: 2px solid #548BC5;
  color: #548BC5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}

.grid-item-1 {
  grid-column: 1 / 3;
}

.grid-item-2 {
  grid-column: 3 / -1;
}

.grid-item-3 {
  grid-column: 1 / 4;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.grid-item input {
  padding: 10px 13px;
  border-radius: 4px;
  background-color: #EDEFF2;
  border: none;
}

.grid-item input:active,
.grid-item input:focus,
.grid-item input:focus-within {
  outline: none;
}

.credit-card-grid {
  display: grid;
  grid-template-columns: 1fr 25px 15px 20px 60px;
}

/* .credit-card-grid input[placeholder="Card Number"] {
  grid-column: 1 / 8;
  width: 100%;
} */

/* .credit-card-grid input[placeholder="MM"] {
  padding-left: 25px;
  text-align: end;
} */

.credit-card-grid input[placeholder="YY"] {
  text-align: start;
}

.credit-card-grid .slash {
  /* padding-left: 5px; */
  display: flex;
  justify-content: center;
}

.credit-card-grid input[placeholder="CVC"] {
  padding-left: 43%
  /* text-align: center; */
}

.credit-card-grid input[type="number"]::-webkit-inner-spin-button,
.credit-card-grid input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.credit-card-grid {
  padding: 10px 13px;
  border-radius: 4px;
  background-color: #EDEFF2;
}

.credit-card-grid input[type="number"] {
  background-color: transparent;
  border: none;
}

.credit-card-grid input[type="number"]:active,
.credit-card-grid input[type="number"]:focus,
.credit-card-grid input[type="number"]:focus-within {
  outline: none;
}

button {
  width: 100%;
  padding-block: 15px;
  border: none;
  border-radius: 6px;
  background-color: #038E7D;
  font-size: 1.125rem;
  /* letter-spacing: -.2px; */
  line-height: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  margin-bottom: 23px;
}

button:hover {
  background-color: #02685c;
}

.col-footer {
  margin-bottom: 16px;
}

.credit-card {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.col-1-row-1 p {
  font-size: 1.875rem;
  line-height: normal;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #1D2C3C;
}

.title .number,
.title .text {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -.16px;
  line-height: normal;
}

.title .number {
  font-size: 1rem;
  letter-spacing: -.14px;
  padding-bottom: 2px;
}

.title .text {
  text-transform: capitalize;
}

.col-2-row-1 p:first-child {
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
}

.col-2-row-1 .price {
  margin-bottom: 3px;
  font-size: 1.125rem;
  letter-spacing: -.01px;
  line-height: normal;
  font-weight: 700;
}

.price .currency {
  vertical-align: 22px;
  padding-right: 5px;
  font-size: 1.5rem;
}

.price .amount {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: normal;
  padding-right: 2px;
}

.col-2-row-1 em {
  line-height: 1.5;
  letter-spacing: -.01px;
  padding-right: 20px;
  /* word-wrap: break-word; */
  display: inline-block;
}

.col-2-row-2 div {
  display: flex;
  gap: 12px;
}

.col-2-row-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 38px;
}

.col-2-row-1  {
  margin-bottom: 36px;
}

.col-2-row-3 {
  margin-bottom: 41px;
}

.col-2-row-3 p:first-child {
  margin-bottom: 12px;
}

.attention-text {
  /* width: 186px; */
  margin-bottom: -3px;
  z-index: 2;
}

.attention-text a {
  color: #fff;
  text-decoration: none;
}

.col-2-row-3 .text-underline {
  width: 177px;
  border-bottom: 4px solid rgba(185, 244, 255, 0.50);
}

.col-2-row-4 p:first-child {
  margin-bottom: 17px;
  padding-top: 41px;
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: italic;
}

.col-2-row-4 {
  border-top: 2px solid rgba(255, 255, 255, 0.20);
}

.author {
  display: flex;
  align-items: center;
  gap: 14px;
}

.author img {
  border-radius: 50%;
}

.author p {
  font-weight: bold;
}

.footer {
  color: #636B6F;
  font-size: .875rem;
}

.footer a {
  color: #31708F;
  text-decoration: none;
}

.footer span {
  margin-inline: 5px;
}

.no-show {
  display: none;
}

